<br>
<div style="background-color: white; opacity: 70%; text-align: center; margin-left: 10%; margin-right: 10%;">
  <font size="+4"> Take & Go! </font>
</div>
<br>
<br>
<br>
<div style="background-color: white; text-align: center;">
  <br>
  <pre>
    Ubicacion: Edificio de Ingenieria, piso -1.
    Descripcion: Cafeteria con agradable ambiente, y variedad de productos.
    Hora: 08:00 - 21:00 hrs.

    *Conectese para ver el menu de los productos en detalle.*
  </pre>
</div>